@font-face {
  font-family: Monda;
  src: url('fonts/Monda-Regular.ttf');
}

html {
  font-family: Monda, sans-serif;
  overflow: hidden;
  border-radius: 2px;
  padding: 3px;
background: -moz-linear-gradient(top, rgba(176,212,227,1) 0%, rgba(136,186,207,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(176,212,227,1)), color-stop(100%,rgba(136,186,207,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(176,212,227,1) 0%,rgba(136,186,207,1) 100%); /* Chrome10+,Safari5.1+ */
background: linear-gradient(to bottom, rgba(176,212,227,1) 0%,rgba(136,186,207,1) 100%); /* W3C */
}

body {
  margin: 0;
}

form {
  margin-bottom: 0;
}

a {
  font-size: 12px;
}