<div id="project-name"><h1>{{name}}</h1></div>
<select id="project">
  {{#each projects}}
    <option value="{{this.id}}">{{this.name}}</option>
  {{/each}}
  <option value="new">New...</option>
</select>
<button id="save">Save</button>
<div id="instruments"></div>
<div id="transport">
  <select id="createInstrument">
    <option value="default">Create Instrument</option>
    <option value="Sequencer">Sequencer</option>
  </select>
  <div id="transportIcons">
    <div id="playpause"><img src="/assets/play.png" /></div>
    <div id="stop"><img src="/assets/stop.png" /></div>
    <div id="rec"><img src="/assets/rec.png" /></div>
  </div>
  <label for="tempo">Tempo: </label>
  <input id="tempo" type="number" max="300" min="1" value="120" />
</div>
